.checkout-container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    font-family: 'Open Sans';
}

.shop-banner {
    text-align: center;
    background-color: sienna;
}

.order-container {
    display: flex;
    justify-content: space-between;
    padding: 45px 20px;
    align-content: center;
}

.items-summary {
    width: 48%;
}

.payment-summary {
    display: flex;
    gap: 20px;
    width: 48%;
    flex-direction: column;
}

.order-card {
    display: flex;
    box-shadow: 3px 3px 5px brown;
    flex-direction: column;
    padding: 10px;
    background-color: burlywood;
    border-radius: 5px;
}

.order-total-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    width: 20%;
    align-self: center;
}

.order-total-grid-label {
    margin: 5px 0px;
    text-align: left;
}

.order-total-grid-details {
    margin: 5px 0px;
    text-align: right;
}

.grand-total {
    margin: 20px 0px;
    font-weight: bold;
}

.item-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.item-row:last-child {
    border-bottom: inherit;
}

.item-count {
    width: 10%;
}

.item {
    width: 70%;
}

.item-title {
    font-weight: bold;
}

.item-details {
    color: brown;
    font-size: 0.9rem;
    margin-top: -10px;
}

.item-amount {
    width: 20%;
    font-weight: bold;
}

.card-title {
    text-transform: uppercase;
}

.input-field-group {
    position: relative;
    margin: 10px;
}

.input-field {
    border-color: brown;
    background-color: burlywood;
    padding: 12px;
    width: 95%;
    border-radius: 90px;
}

.ccv {
    width: 35%;
}

.input-label {
    background-color: burlywood;
    color: brown;
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: -10px;
    padding: 0 2px;
}

.order-button {
    background-color: burlywood;
    border-color: burlywood;
    border-radius: 90px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
}
.brand-logo{
    width: 25px;
    height: 25px;
}